.navContainer{
  background-color:#111;
  width: 12%;
  height: 100vh;
  position:relative;
  display:flex;
  justify-content: center;
}
.titleContainer{
  margin-top: 30px;
  display:flex;
  flex-direction: column;
}
.heading{
  color: wheat;
  font-size: 20px;
  font-weight: 600;
  font-family:Georgia;
}

.button{
  color: aliceblue;
  border: 1px solid goldenrod;
  padding: 2px;
  border-radius: 10px;
  margin-top: 20px;
  color: goldenrod;
  transition: .5s;
}
.button:hover{
  background-color: rgba(218, 165, 32, 0.53);
}
.navIcons{
  display: flex;
  align-items: center;
  color: wheat;
  gap: 30px;
  font-size: 20px
};
